.DS_Store
node_modules
/build
/.svelte-kit/*
/.svelte-kit/**/*
!/.svelte-kit/tsconfig.json
/package/*
/package/**/*
!/package/README.md
!/*/package.json
.env
.env.*
!.env.example
/test-results/
/playwright-report/
/playwright/.cache/
.syncthing*
/test-results/
/playwright-report/
/playwright/.cache/
.eslintcache
svelte-package
