engine-strict=false
auto-install-peers=true
strict-peer-dependencies=false
public-hoist-pattern[]=@effect/*
public-hoist-pattern[]=effect
public-hoist-pattern[]=@forgerock/journey-client
public-hoist-pattern[]=@forgerock/oidc-client
