{
  "plugins": ["prettier-plugin-svelte"],
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    },
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2,
        "parser": "json"
      }
    }
  ]
}
