{
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "overrides": [
      {
        "files": "*.json",
        "options": {
          "tabWidth": 2,
          "parser": "json"
        }
      }
  ]
}
